<% include ./partials/header %>

<h1>Welcome to the Uvic Course Review Landing Page</h1>

<a class = "btn btn-lg btn-success" href = "/fields">Go to the Fields of Study Page</a>

<% include ./partials/footer.ejs %>