<% include ./partials/header %>

<div class="container">
    <div class="row">
       <h1 style="text-align: center;">Create a New Field of Study</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/fields" method = "POST">
                <div class="form-group">
                    <input class = "form-control" type="text" name="name" placeholder="name">                    
                </div>
                <div class="form-group">
                    <input class = "form-control" type="text" name="abbreviation" placeholder="Abbreviation">                    
                </div>
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>                    
                </div>
            </form>
        </div>
    </div>
</div>
<a class = "btn btn-lg btn-success" href = "/">Go back to the Home Page</a>

<% include ./partials/footer.ejs %>